@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:wght@700&display=swap');

.main{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Create columns with a minimum width of 300px */
  gap: 20px; /* Add some gap between cards */
  justify-content: center; /* Center cards horizontally */
  font-family: 'Montserrat', sans-serif;

}
.sec{
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}